<header class="h-16 bg-blue-500 text-white rounded-b-[24px] shadow-2xl transition-all duration-500"
    (click)="toggleUserInfo()"[class.h-auto]="showUserInfo">

    <div class="app-container mx-auto">
        <div class="flex h-full justify-between items-center">
            <div class="flex gap-2 items-center">
                <uni-avatar [image]="user.picture"></uni-avatar>
                <h2 translate="dashboard.hello"><span>{{user.firstName}}!</span></h2>
            </div>
            <uni-notifications></uni-notifications>
        </div>

        @if (showUserInfo) {
        <div class="flex flex-col h-auto justify-between" >
            <div class="mt-4 grid grid-cols-1 sm:grid-cols-2 gap-4">
                <div>
                    <h4 class="font-semibold">Факультет:</h4>
                    <p>{{ user.faculty }}</p>
                </div>
                <div>
                    <h4 class="font-semibold">Курс:</h4>
                    <p>{{ user.course }}</p>
                </div>
                <div>
                    <h4 class="font-semibold">Група:</h4>
                    <p>{{ user.group || 'Не вказано' }}</p>
                </div>
            </div>
            <p-button class="w-full text-center" severity="info" [plain]="true" [raised]="true" label="{{'dashboard.logout' | translate}}" icon="pi pi-sign-out" />
        </div>
        }

    </div>
</header>