<div id="my-day hide-scrollbar" class="">
    <div class="flex justify-between items-center">
        <h1 class="my-3" translate="dashboard.my_day.title"></h1>
        <p-tag class="text-2xl" [value]="today" />
    </div>

    <ng-container *ngIf="(myDay$ | async) as myDay; else spinner">

        <div class="flex flex-col gap-3 overflow-y-auto h-[82vh] hide-scrollbar pb-3">
            @for (lesson of myDay.lessons; track $index) {
            <div id="lesson-{{$index}}">
                <uni-lesson-item [lesson]="lesson"></uni-lesson-item>
            </div>
            }
            <span class="mb-8"></span>
        </div>

    </ng-container>
</div>

<ng-template #spinner>
    <div class="h-full w-full grid place-items-center">
        <p-progressSpinner styleClass="w-16 h-16" strokeWidth="8" animationDuration=".8s"
            fill="var(--surface-ground)" />
    </div>

</ng-template>
