@tailwind base;
@tailwind components;
@tailwind utilities;

@import "primeng/resources/themes/lara-dark-blue/theme.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

body {
    margin: 0;
}

*:focus {
    box-shadow: none !important;
}

.app-container {
    width: 93%;
    margin: 0 auto;
}

::-webkit-scrollbar {
    background-color: #fff;
    width: 16px;
}

::-webkit-scrollbar-track {
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 16px;
    border: 3px solid #fff;
}

::-webkit-scrollbar-button {
    display:none;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.hide-opposite .p-timeline-event-opposite {
    display: none !important;
}

#my-day {

}

.p-timeline-event {
    margin-bottom: 1rem;
}

.lesson {
    .p-chip-text {
        margin: 3px 0;
    }

    .p-chip {
        padding: 0 0.65rem;
    }
}

.p-timeline-event-content {
    padding-right: 0;
}

.p-message-wrapper {
    padding: 0.5rem 1.50rem;
}

p-selectbutton {
    div[role="radio"] {
        padding: 0.5rem;
    }

}

#schedule-days {
    button {
        padding: 0.5rem 0.9rem;
    }
}
